{
  "tabWidth": 4,
  "trailingComma": "es5",
  "semi": true,
  "overrides": [
    {
      "files": ["*.html", "*.yml", "*.json", ".prettierrc"],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
